@model MVCReleaseManagementAssignmentOneProject.Models.CompletedModules

<link href="~/Content/ApproveModuleStyle.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="approveModuleBox">
    <h2 id="heading">Approve Modules</h2>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.DropDownListFor(m => m.ModuleApprovalId, ViewBag.ddl as SelectList, "Select Module Approval Id")
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Get Values" class="approveModuleButton" />
        </div>
    </div>
    <br />
    <br />
    <div>
        <div class="form-group">
            @Html.LabelFor(model => model.ModuleId, htmlAttributes: new { @class = "control-label col-md-2" }) :

            @ViewBag.MessageOne
            <br />
            <br />

            @Html.LabelFor(model => model.TeamleadModuleApprovalStatus, htmlAttributes: new { @class = "control-label col-md-2" }) :

            @ViewBag.MessageTwo
            <br />
            <br />

            @Html.EditorFor(model => model.ManagerModuleApprovalStatus, new { htmlAttributes = new { @class = "form-control",@placeholder = "Enter Approval Status" } })
            @Html.ValidationMessageFor(model => model.ManagerModuleApprovalStatus, "", new { @class = "text-danger" })
            <br />
            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="approveModuleButton" />
                </div>
            </div>
        </div>
    </div>
    <br />
    <div id="navlink">
        @Html.ActionLink("Go Back to Menu", "Navigate")
    </div>
    <br />
    <div  id="errorMessage">
        @ViewBag.ErrorMessage
    </div>
</div>
 }




